config_opts['root'] = 'fedora-23-x86_64'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)
config_opts['chroot_setup_cmd'] = 'install @buildsys-build'
config_opts['dist'] = 'fc23'  # only useful for --resultdir variable subst
config_opts['extra_chroot_dirs'] = [ '/run/lock', ]
config_opts['releasever'] = '23'

# Override rpm macros
config_opts['macros']['%_sysconfdir'] = "/etc"
config_opts['macros']['%dist'] = '.fc23.oio'
config_opts['macros']['%bits'] = '64bit'
config_opts['macros']['%fedora'] = '23'
config_opts['macros']['%fc23'] = '1'

# Auto-update repository
#config_opts['createrepo_on_rpms'] = True
#config_opts['createrepo_command'] = '/usr/bin/pkg2repo.sh ' + config_opts['root'] + ' ' + config_opts['basedir']

config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
keepcache=1
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=

# repos

[fedora]
name=fedora
metalink=https://mirrors.fedoraproject.org/metalink?repo=fedora-$releasever&arch=$basearch
failovermethod=priority
gpgkey=file:///etc/pki/mock/RPM-GPG-KEY-fedora-23-primary
gpgcheck=1

[updates]
name=updates
metalink=https://mirrors.fedoraproject.org/metalink?repo=updates-released-f$releasever&arch=$basearch
failovermethod=priority
gpgkey=file:///etc/pki/mock/RPM-GPG-KEY-fedora-23-primary
gpgcheck=1

[updates-testing]
name=updates-testing
metalink=https://mirrors.fedoraproject.org/metalink?repo=updates-testing-f$releasever&arch=$basearch
failovermethod=priority
enabled=0

[local]
name=local
baseurl=http://kojipkgs.fedoraproject.org/repos/f23-build/latest/x86_64/
cost=2000
enabled=0

[fedora-debuginfo]
name=fedora-debuginfo
metalink=https://mirrors.fedoraproject.org/metalink?repo=fedora-debug-$releasever&arch=$basearch
failovermethod=priority
enabled=0

[updates-debuginfo]
name=updates-debuginfo
metalink=https://mirrors.fedoraproject.org/metalink?repo=updates-released-debug-f$releasever&arch=$basearch
failovermethod=priority
enabled=0

[updates-testing-debuginfo]
name=updates-testing-debuginfo
metalink=https://mirrors.fedoraproject.org/metalink?repo=updates-testing-debug-f$releasever&arch=$basearch
failovermethod=priority
enabled=0

[openio-sds-15.12]
name=OpenIO SDS packages for Entreprise Linux $releasever - $basearch
baseurl=http://mirror.openio.io/pub/repo/openio/sds/15.12/fedora/$releasever/$basearch
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-OPENIO-0

[openio-sds-15.12-source]
name=OpenIO SDS packages for Entreprise Linux $releasever - $basearch - Source
baseurl=http://mirror.openio.io/pub/repo/openio/sds/15.12/fedora/$releasever/SRPM
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-OPENIO-0
gpgcheck=1

"""
