[Unit]
Description=OpenStack Object Storage (swift) - Container Sync
After=syslog.target network.target

[Service]
Type=simple
User=swift
ExecStart=/usr/bin/swift-container-sync /etc/swift/container-server.conf

[Install]
WantedBy=multi-user.target
