[Unit]
Description=COSBench Controller
After=network.target

[Service]
EnvironmentFile=/etc/default/cosbench-controller
EnvironmentFile=-/etc/sysconfig/cosbench-controller
Type=simple
User=cosbench
WorkingDirectory=/var/lib/cosbench/controller

ExecStart=/usr/lib/jvm/jre-1.8.0/bin/java -Dprometheus.export.workloads.active=${COSBENCH_PROMETHEUS_WORKLOADS_ACTIVE} -Dprometheus.export.workloads.history=${COSBENCH_PROMETHEUS_WORKLOADS_HISTORY} -Dprometheus.export.workloads.archived=${COSBENCH_PROMETHEUS_WORKLOADS_ARCHIVED} -Dprometheus.export.timeout=${COSBENCH_PROMETHEUS_EXPORT_TIMEOUT} -Dlog4j.configuration=file:${COSBENCH_CONTROLLER_LOG4J_CONFIG} -Dcosbench.controller.config=${COSBENCH_CONTROLLER_CONFIG} -Dcosbench.tomcat.config=${COSBENCH_CONTROLLER_TOMCAT_CONF} -server -cp /usr/cosbench/main/* org.eclipse.equinox.launcher.Main -configuration /var/lib/cosbench/controller -console ${COSBENCH_CONTROLLER_CONSOLE_PORT}

Restart=on-failure

[Install]
WantedBy=multi-user.target
